{% extends "_base.html" %}

{% load waffle_tags %}

{% block head_title %}Home{% endblock %}

{% block content_root %}<section>
    <header>
        <h1>testdjereo</h1>
        <p>A Django web application generated <br>using the 🐴 djereo project template.</p>
        <br>
        <p>
            <a href="https://albertomh.github.io/djereo/" target="_blank">
                <strong>📖 djereo docs</strong>
            </a>
            <a href="https://github.com/albertomh/djereo" target="_blank">
                <em>🐙 Repository</em>
            </a>
            <a href="https://github.com/albertomh/djereo/releases" target="_blank">
                <em>📦 Releases</em>
            </a>
        </p>
    </header>
</section>
{% endblock content_root %}
