# On Tag pipeline
# Runs when a semver tag is pushed up to GitHub.
#
# IMPORTANT!
# The following click-ops steps must be taken to allow this action to succeed:
#
# Add the following GitHub Actions secrets via `github.com/albertomh/testdjereo/settings/secrets/actions`.
# | secret_name               | content                                          |
# | ------------------------- | ------------------------------------------------ |
# | SSH__PRIVATE_KEY          | private key to use for Droplet admin user        |
# | SSH__PUBLIC_KEY           | public key to use for Droplet admin user         |
# | POSTGRES_USER             | [used to configure DB server]                    |
# | POSTGRES_PASSWORD         | [used to configure DB server]                    |
# | POSTGRES_DB               | [used to configure DB server]                    |
# | APP__ALLOWED_HOSTS        | comma-separated list of IPs                      |
# | APP__CSRF_TRUSTED_ORIGINS | FQDNs  |
# | APP__DATABASE_URL         | eg. `postgresql://user:pwd@1.2.3.4:5432/dbname`  |
# | APP__DEBUG                | 'true' or 'false' |
# | APP__SECRET_KEY           | random string >=50 characters long               |
# | DIGITALOCEAN_TOKEN        | <see below>                                      |
#
# 1. For the `DIGITALOCEAN_TOKEN`, mint a DO API token with scopes:
#      - droplet: `create`, `update`, `delete`
#      - ssh_key: `read`
#      - tag: `create`
#   <https://cloud.digitalocean.com/account/api/tokens>
#
# Click-ops steps for per-environment clickable jobs to work:
# 1. Navigate to <https://github.com/albertomh/testdjereo/settings/environments>
# 2. Create environments 'test' & 'live'.
#   1. Under 'Deployment branches and tags' set a 'deployment tag rule' with value "v[0-9]*.[0-9]*.[0-9]*"
#   2. For 'live' only, tick 'Required reviewers' and add yourself.

name: on-tag

on:
  # TODO: reinstate
  #push:
  #  # run this workflow only if the tag matches the format 'v<semver>'
  #  tags:
  #    - 'v*.*.*'
  # TODO: remove
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main

jobs:
  checks:
    uses: ./.github/workflows/_pre-build-checks.yaml
    with:
      django_checks_deploy: 'true'
    secrets:
      DJANGO_SECRET_KEY: ${{ secrets.APP__SECRET_KEY }}

  containerise:
    # needs:
    #   - checks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: |
          echo "REPO_NAME=${GITHUB_REPOSITORY@L}" >> $GITHUB_ENV
      - uses: ./.github/actions/containerise
        with:
          dockerfile: _deploy/deploy.Dockerfile
          username: ${{ github.actor }}
          password: ${{ github.token }}
          tags:
            ghcr.io/${{ env.REPO_NAME }}:latest,
            ghcr.io/${{ env.REPO_NAME }}:${{ github.ref_name }},

  apply_test:
    needs:
      - containerise
    runs-on: ubuntu-24.04
    environment:
      name: test
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.4"
      - name: Apply infra blueprint to 'test' environment
        env:
          # Environment variables needed by `#cloud-config` YAML specs.
          # common to both `postgres_server.yaml` & `app_server.yaml`
          SSH__PUBLIC_KEY: ${{ secrets.SSH__PUBLIC_KEY }}
          # unique to `postgres_server.yaml`
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          # needed by `DO_deploy.infra.apply`
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
        working-directory: ./_deploy/
        run: uv run python -m DO_deploy.infra.apply test --no-dry-run

  deploy_test:
    needs:
      - apply_test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.4"
      - shell: bash
        env:
          SSH__PRIVATE_KEY: ${{ secrets.SSH__PRIVATE_KEY }}
          SSH__PUBLIC_KEY: ${{ secrets.SSH__PUBLIC_KEY }}
          APP__ALLOWED_HOSTS: ${{ secrets.APP__ALLOWED_HOSTS }}
          APP__CSRF_TRUSTED_ORIGINS: ${{ secrets.APP__CSRF_TRUSTED_ORIGINS }}
          APP__DATABASE_URL: ${{ secrets.APP__DATABASE_URL }}
          APP__DEBUG: ${{ secrets.APP__DEBUG }}
          APP__SECRET_KEY: ${{ secrets.APP__SECRET_KEY }}
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
        run: |
            mkdir -p ~/.ssh
            echo "$SSH__PRIVATE_KEY" > ~/.ssh/id_ed25519
            chmod 600 ~/.ssh/id_ed25519
            cd _deploy/
            uv run python -m DO_deploy.upload_deployment_script testdjereo test admin

  health_test:
    needs:
      - deploy_test
    runs-on: ubuntu-24.04
    steps:
      - shell: bash
        run: |
            echo "TODO: check test health!"

  plan_live:
    needs:
      - health_test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.4"
      - name: Plan infra blueprint changes for 'live' environment
        env:
          # Environment variables needed by `#cloud-config` YAML specs.
          # common to both `postgres_server.yaml` & `app_server.yaml`
          SSH__PUBLIC_KEY: ${{ secrets.SSH__PUBLIC_KEY }}
          # unique to `postgres_server.yaml`
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          # needed by `DO_deploy.infra.apply`
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
        working-directory: ./_deploy/
        run: uv run python -m DO_deploy.infra.apply live

  apply_live:
    needs:
      - plan_live
    runs-on: ubuntu-24.04
    environment:
      name: live
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.4"
      - name: Apply infra blueprint to 'live' environment
        env:
          # Environment variables needed by `#cloud-config` YAML specs.
          # common to both `postgres_server.yaml` & `app_server.yaml`
          SSH__PUBLIC_KEY: ${{ secrets.SSH__PUBLIC_KEY }}
          # unique to `postgres_server.yaml`
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          # needed by `DO_deploy.infra.apply`
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
        working-directory: ./_deploy/
        run: uv run python -m DO_deploy.infra.apply live --no-dry-run

  deploy_live:
    needs:
      - apply_live
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.4"
      - shell: bash
        env:
          APP__ALLOWED_HOSTS: ${{ secrets.APP__ALLOWED_HOSTS }}
          APP__CSRF_TRUSTED_ORIGINS: ${{ secrets.APP__CSRF_TRUSTED_ORIGINS }}
          APP__DATABASE_URL: ${{ secrets.APP__DATABASE_URL }}
          APP__DEBUG: ${{ secrets.APP__DEBUG }}
          APP__SECRET_KEY: ${{ secrets.APP__SECRET_KEY }}
        run: |
            echo "TODO: deploy app to live!"

  health_live:
    needs:
      - deploy_live
    runs-on: ubuntu-24.04
    steps:
      - shell: bash
        run: |
            echo "TODO: check live health!"
