# On Tag pipeline
# Runs when a semver tag is pushed up to GitHub.
#
# IMPORTANT!
# The following click-ops steps must be taken to allow this action to succeed:
#
# Add the following GitHub Actions secrets via `github.com/albertomh/testdjereo/settings/secrets/actions`.
# | secret_name         | content                                          |
# | ------------------- | ------------------------------------------------ |
# | SSH_PUBLIC_KEY      | public key to use for Droplet admin user         |
# | DJANGO_SECRET_KEY   | random string >=50 characters long               |
# | POSTGRES_USER       | [used to configure DB server]                    |
# | POSTGRES_PASSWORD   | [used to configure DB server]                    |
# | POSTGRES_DB         | [used to configure DB server]                    |
# | DIGITALOCEAN_TOKEN  | <see below>                                      |
#
# 1. For the `DIGITALOCEAN_TOKEN`, mint a DO API token with scopes:
#      - droplet: `create`, `update`, `delete`
#      - ssh_key: `read`
#      - tag: `create`
#   <https://cloud.digitalocean.com/account/api/tokens>
#
# Click-ops steps for per-environment clickable jobs to work:
# 1. Navigate to <https://github.com/albertomh/testdjereo/settings/environments>
# 2. Create environments 'test' & 'live'.
#   1. Under 'Deployment branches and tags' set a 'deployment tag rule' with value "v[0-9]*.[0-9]*.[0-9]*"
#   2. For 'live' only, tick 'Required reviewers' and add yourself.

name: on-tag

on:
  # TODO: reinstate
  #push:
  #  # run this workflow only if the tag matches the format 'v<semver>'
  #  tags:
  #    - 'v*.*.*'
  # TODO: remove
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main

jobs:
  checks:
    uses: ./.github/workflows/_pre-build-checks.yaml
    with:
      django_checks_deploy: 'true'
    secrets:
      DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}

  containerise:
    # needs:
    #   - checks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: |
          echo "REPO_NAME=${GITHUB_REPOSITORY@L}" >> $GITHUB_ENV
      - uses: ./.github/actions/containerise
        with:
          dockerfile: _deploy/deploy.Dockerfile
          username: ${{ github.actor }}
          password: ${{ github.token }}
          tags:
            ghcr.io/${{ env.REPO_NAME }}:latest,
            ghcr.io/${{ env.REPO_NAME }}:${{ github.ref_name }},

  deploy_test:
    needs:
      - containerise
    runs-on: ubuntu-24.04
    environment:
      name: test
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.3"
          enable-cache: true
      - name: Apply infra blueprint to 'test' environment
        env:
          SSH_PUBLIC_KEY: ${{ secrets.SSH_PUBLIC_KEY }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
        working-directory: ./_deploy/
        run: uv run python -m testdjereo_deploy.infra.apply test --no-dry-run

  health_test:
    needs:
      - deploy_test
    runs-on: ubuntu-24.04
    steps:
      - shell: bash
        run: |
            echo "TODO: check test health!"

  plan_live:
    needs:
      - health_test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.3"
          enable-cache: true
      - name: Plan infra blueprint changes for 'live' environment
        env:
          SSH_PUBLIC_KEY: ${{ secrets.SSH_PUBLIC_KEY }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
        working-directory: ./_deploy/
        run: uv run python -m testdjereo_deploy.infra.apply live

  deploy_live:
    needs:
      - plan_live
    runs-on: ubuntu-24.04
    environment:
      name: live
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.3"
          enable-cache: true
      - name: Apply infra blueprint to 'live' environment
        env:
          SSH_PUBLIC_KEY: ${{ secrets.SSH_PUBLIC_KEY }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
        working-directory: ./_deploy/
        run: uv run python -m testdjereo_deploy.infra.apply live --no-dry-run

  health_live:
    needs:
      - deploy_live
    runs-on: ubuntu-24.04
    steps:
      - shell: bash
        run: |
            echo "TODO: check live health!"
